<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename = 'logo1.ico') }}" type="image/x-ico">
    <link type="text/css" href="{{ url_for('static',filename = 'search.css') }}"  rel="stylesheet">
</head>

<body ng-controller="ctrl">

<!-- logo -->
<div class="logoarea">
    <a href="http://localhost:7777"><img src="{{ url_for('static', filename='logo3.png')}}" class="logo"/></a>
</div>

<div class="container">
    <br>
    <br>
    <form class="form-inline" method="post" action="/">
        <div class="form-group">
            <input type="text" style="height: 40px; width: 360px;" class="form-control" ng-model="query"
                   value="{{ value }}" name="query" id="query"/>
        </div>
        <input class="btn btn-small btn-success" role="button" type="submit" value="搜索" id="btn">

    <div class="searchtype">
    <input type="radio" value="0" name="r_sel" id="r_sel1" {% if searchArr[0] %}checked="checked"{% endif %}/><label for="r_sel1">相关度&nbsp;</label>
    <input type="radio" value="1" name="r_sel" id="r_sel2" {% if searchArr[1] %}checked="checked"{% endif %}/><label for="r_sel2">时间&nbsp;</label>
    <input type="radio" value="2" name="r_sel" id="r_sel3" {% if searchArr[2] %}checked="checked"{% endif %}/><label for="r_sel3">热度&nbsp;</label>
    <!-- <input class="typesubmit" type="submit" value="OK" style="color:white"/> -->
    </div>
    </form>
    <br>

    <br>
    <div class="numofresult">为您找到{{ length }}条结果</div>
    <br>

    <div id="box">
    {% for doc in docs %}
    <p class="title"><a href="{{ doc[0] }}" target="_blank">{{ doc[3]|safe }}</a></p>
    <p class="time">{{ doc[1] }}</p>
    <p class="text">{{ doc[2] }}</p>
    <p class="url">{{ doc[0] }}</p>
    <br>
    {% endfor %}
    <nav aria-label="Page navigation" class="pull-left">
        <ul class="pagination">
           {{ html|safe }}
        </ul>
    </nav>
    </div>
</div>

<footer>
    2020-<span id="currentYear"></span> LSN
</footer>

<script>
    let date = new Date();
    document.getElementById('currentYear').innerHTML = date.getFullYear();
</script>

</body>
</html>