.logo{
  position: absolute;
  left:10px;
  top:20px;
  width:160px;
  height:90px;
}
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
.page{
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 25px;
}
footer{
  position:absolute;
  width:100%;
  height: 28px;
  line-height: 28px;
  margin-top:50px;
  text-align: center;
  background: #F0F0F0;
  color: rgb(112, 112, 112);
  font-family: Consolas;
  font-size: 13px;
  letter-spacing: 1px;
}
.numofresult{
  height:20px;
  color:#C2C2C2;
}
.url{
  color:green;
}
.time{
  color:#A0A0A0;
}
.title{
  font-size:18px;
  max-width: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}
.container{
  position:relative;
  min-height:100%;
  left:5px;
}
.text{
  max-width: 680px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn{
  background:#4586F3;
  border:none;
  letter-spacing: 1px;
}
.searchtype{
  height:20px;
  width:350px;
  font-size:14px;
  font-weight: normal;
  font-family: NSimSun;
  letter-spacing: 1px;
}
.typesubmit{
  font-family:Consolas;
  color:#fff;
  width:35px;
  background:#4586F3;
  border:none;
}
.radio{
  vertical-align:middle;
  letter-spacing: 1px;
}